@using Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<style>
    .footer1 {
        margin-bottom:-1px;
        height: 62px;
        width: 98.7%;
        margin-left: 0.5%;
    }
    #footer1{
        margin-top:0px;
    }

    .sand {
        height: 504px;
    }
</style>
<div class="container" style="height:520px;">
    
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="panel panel-default text-left">
                    <div class="panel-body">
                        <h2>@ViewBag.Title </h2>
                    </div>
                </div>

                <div class="panel-body well" style="height:409px;">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8  col-md-offset-2">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "Email Address", @tabindex = "4" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8  col-md-offset-2">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password", @tabindex = "5" })
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                            </div>
                        </div>
                    </div>

                    <br />
                    
                    <div class="row"><span class="button-checkbox">
                        <button type="button" class="btn" data-color="info" style="margin-left:190%;">Remember Me</button>
                        <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
                    </span></div>
                    <br />

                    <div class="row">
                    
                        <div class="col-md-5 col-md-offset-1"><input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In" style="margin-top:50%;background-color:#94618E"></div>
                       
                        <div class="col-md-5" style="margin-top:17.9%;">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-block btn-lg bg-dark", id = "registerLink" })

                    </div>
                </div>





                        @*<span class="button-checkbox">
                            <button type="button" class="btn" data-color="info">Remember Me</button>
                            <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
                        </span>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-block btn-lg", id = "registerLink" })
                            </div>
                        </div>*@
                    
                    
                </div>
            }
                    </div>
                </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Login")

}