@model IEnumerable<Web.Models.OfferQuickDetailsViewModel>
@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title.</h1>

@*<ul>
    @foreach (var ev in Model)
    {
        <li>@ev.Name - @ev.Location - @ev.Owner - @ev.DateTimeUTC
            <ul>
                @foreach (var donation in ev.Donations)
                {
                    <li>@donation</li>
                }
            </ul>
        </li>
    }
</ul>*@